.container{
display: flex;
flex-direction: column;
justify-content: center;
min-height: 100vh;
text-align: center;
}

.title{
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #f0e37f;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.subtitle{
  font-size: 1.25rem;
  color: #f0e37f;
}
