.tableContainer {
  width: 100%;
  overflow-x: auto; /* Garante a responsividade em telas pequenas */
  background-color: #69663e; /* Cor de fundo do card para a tabela */
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #e7e7e2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse; /* Remove espaços entre as células */
  color: #fffad6; /* Cor do texto principal */
}

.th {
  padding: 1rem;
  text-align: left;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #e9e1a2; /* Cor do subtítulo para os cabeçalhos */
  border-bottom: 2px solid #e7e7e2;
}